@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham-Black.eot');
  src: local('☺'), url('../fonts/Gotham-Black.woff') format('woff'), url('../fonts/Gotham-Black.ttf') format('truetype'), url('../fonts/Gotham-Black.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('../fonts/brandon-grotesque-black-58a8a3e824392.eot');
  src: local('☺'), url('../fonts/brandon-grotesque-black-58a8a3e824392.woff') format('woff'), url('../fonts/brandon-grotesque-black-58a8a3e824392.ttf') format('truetype'), url('../fonts/brandon-grotesque-black-58a8a3e824392.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import  'nullstyle.scss' ;

body {
  
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__body {
  display: flex;
  justify-content: space-between;
}

.header__image {
  margin: 20px 0px 20px 0px;
}

.nav__body {
  display: flex;
}

.menu {
  margin: 40px 0px 40px 0px;
}

.menu__link {
  font-family: Lato;
  font-size: 13.5px;
  text-transform: uppercase;
  color: #868686;
  padding: 12px 20px 12px 20px;
}

.menu__link:hover {
  background-color: #ffbb42;
  color: white;
  border-radius: 3px;
}

.content__row {
  display: flex;
  flex-direction: column;
}

.home {
  background-color: #709dca;
  // height: 588px;
}

.home__title {
  font-size: 35px;
  color: #ffffff;
  text-align: center;
  margin: 110px 0px 0px 0px;
}

.title {
  font-family: Gotham;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.025em;
  text-align: center;
}

.text {
  font-family: 'Open Sans';
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}

.home__text {
  font-weight: 300;
  color: #ffffff;
}

.home__form {
  margin: 33px 0px 0px 0px;
}

.form__row {
  display: flex;
  justify-content: center;
}

.link {
  width: 282px;
  height: 47px;
  border-radius: 2px;
  background-color: white;
  margin: 0px 5px 0px 5px;
  font-family: 'Open Sans';
  font-size: 13px;
  color: black;
}

.form__name {
  background-image: url('../img/home-name.png');
  background-repeat: no-repeat;
  background-position: 15px 14px;
  padding: 0px 0px 0px 40px;
}

.form__name::placeholder {
  color: #a9a9a9;
}

.form__adress {
  background-image: url('../img/home-email.png');
  background-repeat: no-repeat;
  background-position: 15px 16px;
  padding: 0px 0px 0px 40px;
}

.form__adress::placeholder {
  color: #a9a9a9;
}

.form__tel {
  background-image: url('../img/home-phone.png');
  background-repeat: no-repeat;
  background-position: 15px 17px;
  padding: 0px 0px 0px 40px;
}

.form__tel::placeholder {
  color: #a9a9a9;
}

.form__request {
  background-color: #ffbb42;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}

.sm_prev,
.sm_next {
  display: none;
}

.sm_nav {

}

.home__wrapper {
  background-image: url(../img/home-display.png);
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  top: 100px;
  height: 420px;
}

.home__slider {
  width: 440px;
  height: 284px;
  margin: 55px auto 0;
}

.services {
  margin: 150px 0px 0px 0px;
}

.services__title {
  font-size: 30px;
  color: #394b50;
}

.services__text {
  font-weight: 400;
  color: #394b50;
}

.services__item {
  margin: 85px 0px 85px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services__item li {
  padding: 0px 0px 70px 0px;
  flex: 0 1 540px;
}

.item1 {
  background-image: url(../img/service1.png);
  background-repeat: no-repeat;
}

.item2 {
  background-image: url(../img/service2.png);
  background-repeat: no-repeat;
}

.item3 {
  background-image: url(../img/service3.png);
  background-repeat: no-repeat;
}

.item4 {
  background-image: url(../img/service4.png);
  background-repeat: no-repeat;
}

.item5 {
  background-image: url(../img/service5.png);
  background-repeat: no-repeat;
}

.item6 {
  background-image: url(../img/service6.png);
  background-repeat: no-repeat;
}

.item__body {
  padding: 0px 0px 0px 81px;
}

.item__title {
  font-family: Lato;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  color: #394b50;
}

.item__text {
  font-family: 'Open Sans';
  font-size: 13px;
  line-height: 22px;
  font-weight: 400;
  color: #7b7b7b;
}

.about {
  background-color: #ffc155;
  background-image: url('../img/about.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50% auto;
}

.about__row {
  display: flex;
  justify-content: flex-end;
}

.about__body {
  flex: 0 1 50%;
  margin: 162px 0px 162px 0px;
  padding: 0px 0px 0px 85px;
}

.about__title {
  font-size: 30px;
  color: #ffffff;
  text-align: left;
}

.about__text {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;
  padding: 25px 0px 25px 0px;
  text-align: left;
}

.about__button {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  background-color: rgba(231, 173, 72, 0.0);
  border: 1px solid #e7ad48;
  padding: 0 30px;
}

.button__read {
  font-family: Lato;
  text-transform: uppercase;
  color: #ffffff;
}

.pricing {
  background-color: #e7edf3;
}

.pricing__body {
  padding: 136px 0px 195px 0px;
}

.pricing__title {
    font-size: 30px;
    color: #394b50;
}

.pricing__text {
  font-size: 18px;
  font-weight: 300;
  color: #75888d;
}

.pricing__plan {
  margin: 85px 0px 0px 0px;
  display: flex;
}

.plan {
  background-color: #ffffff;
  border: 1px solid #ccd5df;
  padding: 55px 27px 47px 27px;
  text-align: center;
  flex: 0 0 33.333%;
  color: #818b95;
  transition: all 0.2s ease-out;
}

.plan:hover {
  background-color: #709dca;
  color: #ffffff;
  transition: all 0.2s ease-out;
  box-shadow: 0 -32px 0 0 #719dc7,
  0 32px 0 0 #719dc7;
  border: none;
      
  .plan__price {
    color: #ffffff;
  }

  li {
    color: #9fc3e7;
    border-top: 1px solid #9fc3e7;
  }
}

.plan h2 {
  font-family: Lato;
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0px 0px 20px 0px;
}

.plan__price {
  font-family: Lato;
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffbb42;
}

.plan__text {
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
}

.plan__terms {
  margin: 20px 0px 20px 0px;
}

.plan__terms li {
  font-family: Lato;
  font-size: 13.5px;
  line-height: 40px;
  font-weight: 400;
  text-transform: uppercase;
  color: #b5bbc1;
  border-top: 1px solid #e2e9f0;
}

.plan__button {
  display: inline-block;
  height: 42px;
  line-height: 42px;
  background-color: #ffbb42;
  padding: 0 20px;
  font-family: Lato;
  text-transform: uppercase;
  color: #ffffff;
}

.work__body {
  padding: 154px 0px 149px 0px;
}

.work__title {
  font-size: 30px;
  color: #394b50;
}

.work__text {
  font-size: 18px;
  color: #394b50;
}

.work__step {
  padding: 100px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  background-image: url('../img/work-arrow1.png'),url('../img/work-arrow2.png'),url('../img/work-arrow1.png');
  background-repeat: no-repeat;
  background-position: 235px 70px,520px 165px,820px 70px;

  li {
    padding: 163px 0px 0px 0px;
    width: 216px;
    text-align: center;
  }

  h3 {
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #394b50;
  }

  p {
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    padding: 10px 0px 0px 0px;
  }
}

.work__step1 {
  background: url('../img/work1.png') center 0 no-repeat;
}

.work__step1:after {
  content: '';
  width: 129px;
  height: 34px;
  background-color: red;
}

.work__step2 {
  background: url('../img/work3.png') center 0 no-repeat;
}

.work__step3 {
  background: url('../img/work5.png') center 0 no-repeat;
}

.work__step4 {
  background: url('../img/work7.png') center 0 no-repeat;
}

.work__button {
  text-align: center;
}

.button__button {
  margin: 92px 0px 0px 0px;
  text-align: center;
  display: inline-block;
  height: 42px;
  line-height: 42px;
  background-color: #ffbb42;
  padding: 0 20px;
  font-family: Lato;
  text-transform: uppercase;
  color: #ffffff;
}

.clients {
  background-color: #ffc155;
}

.clients__body {
  padding: 140px 0px 160px 0px;
}

.clients__title {
  font-size: 30px;
  color: #ffffff;
}

.clients__text {
  color: #ffffff;
}

.clients__article {
  padding: 58px 0px 0px 0px;
}

.article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  li {
    flex: 0 1 567px;
    
    background-color: #ffffff;
    padding: 43px 26px 50px 29px;
    margin: 0px 0px 18px 0px;
  }

  blockquote {
    font-family: 'Open Sans';
    font-size: 13px;
    line-height: 22px;
    color: #7b7b7b;
    padding: 0px 0px 0px 154px;
  }
}

.clients__bloquote::before {
  content: '“';
  font-family: 'Brandon Grotesque';
  font-size: 30px;
  line-height: 22px;
  font-weight: 700;
  color: #7b7b7b;
  position: relative;
  top: 20px;
  left: 15px;
}

.article blockquote::after {
  content: url('../img/clients-quote2.png');
  position: relative;
  top: 2px;
  left: 3px;
}

.article__img {
  float: left;
  width: 121px;
  height: 121px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fdfefe;
}

.article__one .article__img {
  background-image: url('../img/client-img1.png');
  background-repeat: no-repeat;
  }

.article__two .article__img {
  background-image: url('../img/client-img2.png');
  background-repeat: no-repeat;
}

.article__three .article__img {
  background-image: url('../img/client-img3.png');
  background-repeat: no-repeat;
}

.article__four .article__img {
  background-image: url('../img/client-img4.png');
  background-repeat: no-repeat;
}

.clients__signature {
  padding: 0px 0px 0px 154px;
  font-family: Lato;
  line-height: 22px;
  text-transform: uppercase;
  color: #99a9ae;
}

.clients__signature span {
  color: #f6772c;
}

.contact {
  background-color: #ffffff;
}

.contact__body {
  padding: 148px 0px 54px 0px;
  background-image: url('../img/contact-radius.png'),url('../img/contact-map.png');
  background-repeat: no-repeat;
  background-position: center 388px , center 350px;
}

.contact__title {
  font-size: 30px;
  color: #394b50;
}

.contact__text {
  color: #394b50;
}

.contact__form {
  margin: 33px 0px 0px 0px;
}

.form {
  display: flex;
  justify-content: center;
}

.contact__link {
  height: 45px;
  border: 2px solid #cbcbcb;
  border-radius: 2px;
  margin: 0px 5px 0px 5px;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #a9a9a9;
}

.contact__formname {
  width: 308px;
  background-image: url('../img/home-name.png');
  background-repeat: no-repeat;
  background-position: 15px 12px;
  padding: 0px 0px 0px 40px;
}

.contact__formname::placeholder {
  color: #a9a9a9;
}

.contact__formadress {
  width: 388px;
  background-image: url('../img/home-email.png');
  background-repeat: no-repeat;
  background-position: 15px 14px;
  padding: 0px 0px 0px 40px;
}

.contact__formadress::placeholder {
  color: #a9a9a9;
}

.contact__formrequest {
  width: 218px;
  background-color: #ffbb42;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
}

.contact__adress {
  text-align: center;
  margin: 178px 0px 0px 0px;

  p {
      font-family: 'Open Sans';
      font-size: 13px;
      line-height: 24px;
      font-weight: 400;
    }
}

.adress__title {
  font-family: Lato;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.adress__text {
  color: #aeb7ba;
}

.adress__email {
  color: #ffbb42;
}

.contact__logo {
  text-align: center;
  margin: 90px 0px 223px 0px;
}

.contact__menu {
  text-align: center;
  padding: 65px 0px 0px 0px;
  border-top: 1px solid #e3e7ec;
}

.contact__nav li {
  display: inline-block;
  font-family: Lato;
  font-size: 13px;
  text-transform: uppercase;
  margin: 0px 10px 0px 10px;
}

.contact__nav a {
  color: #394b50;
}

.contact__tel {
  display: inline-block;
  margin: 30px 0px 0px 0px;
  font-family: Lato;
  font-size: 22.6px;
  color: #394b50;
  background: url('../img/contact-tel.png') 0 5px no-repeat;

  p {
    padding: 0px 0px 0px 22px;
  }
}

.contact__network {}

.social__network li {
  display: inline-block;
  margin: 23px 0px 0px 0px;
  padding: 0px 5px 0px 5px;
}



.footer {
  background-color: #709dca;
}

.footer__row {
  display: flex;
  justify-content: center;
}

.footer__text {
  margin: 17px 0px 17px 0px;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #ffffff;
}










