
@font-face {
  font-family: 'Segoe UI Light';
  src: url('../fonts/SegoeUI-Light.eot');
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
    url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Light.woff') format('woff'),
    url('../fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI SemiBold';
  src: url('../fonts/SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MrsEaves';
  src: url('../fonts/MrsEavesItalic.eot');
  src: local('☺'), url('../fonts/MrsEavesItalic.woff') format('woff'), url('../fonts/MrsEavesItalic.ttf') format('truetype'), url('../fonts/MrsEavesItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Univers CE';
  src: url('../fonts/univers_ce_45_light-webfont.woff2') format('woff2'),
    url('../fonts/univers_ce_45_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import  'nullstyle.scss' ;

body {
  background-color: #ffffff;
}

header {
  background: url('../img/background.png');
  height: 489px;
}

.header-content {
  max-width: 1024px;
  margin: 0 auto;
}

.header-menu {
  display: inline-block;
  margin: 55px 0px 0px 497px;
}

.menu a:hover {
  color: #8c9095;
}

.menu li {
  display: inline-block;
  width: 123px;
}

.menu a {
  font-family: 'Segoe UI Light';
  font-size: 22.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.header-logo {
  display: inline-block;
  margin: 0px 90px 0px 90px;
}

.logo {
  opacity: 0.67;
  font-family: 'Mrs Eaves';
  font-size: 118.6px;
  line-height: 32px;
  font-style: italic;
  color: #ffffff;

}

.banner-img {
  float: left;
  margin: 68px 0px 0px 120px;

  img {
    border-radius: 59px;
    overflow: hidden;
  }
}

.banner-text {
  display: inline-block;

  h1 {
    font-family: 'Segoe UI Light';
    font-weight: 600;
    font-size: 64.7px;
    line-height: 1.2;
    color: #ffffff;
    padding: 100px 0px 0px 75px;
  }

  h2 {
    font-family: 'Segoe UI Light';
    font-size: 44.7px;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
    padding: 0px 0px 0px 74px;
  }
}

.banner-button {
  width: 146px;
  height: 46px;
  margin: 27px 0px 0px 74px;
  background-color: #2b7551;
  border: 4px solid #181d19;

  .button {
    font-family: 'Segoe UI Light';
    font-size: 22.7px;
    line-height: 32px;
    font-weight: 300;
    color: #ffffff;
  }

  span {
    padding: 10px 0px 10px 19px;
  }

  a:hover {
    color: #8c9095;
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 80px 0px 0px 0px;
  font-family: 'Segoe UI Light';
  font-weight: 300;
  color: #5c5b5b;

  li {
    position: relative;
    width: 256px;
    padding: 28px 0px 0px 0px;
    
    &.active {
      background: white;
      border: 1px solid #dedede;
      box-shadow: 0 -3px 4px -4px #dedede, -3px 0 4px -4px #dedede, 3px 0 4px -4px #dedede;
      border-bottom: none;
    }
  }

  h2 {
    display: block;
    font-size: 26px;
    padding: 167px 0px 0px 0px;
    text-align: center;
  }

  p {
    margin: 0px 0px 45px 0px;
    font-size: 22.7px;
    line-height: 1.2;
    text-align: center;
  }

  .phone:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_blue.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .basket:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_yellow.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .planet:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_green.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .magnifier:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_orange.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .phone:after {
    content: '';
    position: absolute;
    background-image: url('../img/phone.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 132px;
    left: 100px;
  }

  .basket:after {
    content: '';
    position: absolute;
    background-image: url('../img/basket.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 124px;
    left: 100px;
}

  .planet:after {
    content: '';
    position: absolute;
    background-image: url('../img/planet.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 136px;
    left: 85px;
  }

  .magnifier:after {
    content: '';
    position: absolute;
    background-image: url('../img/magnifier.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 126px;
    left: 96px;
  }
}

.tab {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 60px 0px 0px 0px;
  border: 1px solid #dedede;
  box-shadow: 0 0 3px #dedede;
  bottom: 1px;
  z-index: -1;
  position: relative;

  img {
    display: block;
    margin: 0 auto;
  }

  .text {
    padding: 0px 65px 30px 56px;

    h2 {
    font-family: 'Segoe UI Light';
    font-size: 38.7px;
    font-weight: 300;
    padding: 20px 0px 24px 0px;
    color: #4f4f4f;
  }

    p {
      font-family: 'Univers CE';
      line-height: 24px;
      font-weight: 300;
      margin: 0px 0px 30px 0px;
      color: #818181;
    }
  }
}

.browser {
  display: flex;
  margin: 30px 0px 0px 0px;

  .window {
    width: 448px;
    height: 314px;
    box-shadow: 0 0 10px #c3c9d8;
    border-radius: 8px;
    overflow: hidden;
  }

  .list {
    padding: 0px 0px 0px 58px;
    
    h2 {
      font-family: 'Segoe UI Light';
      font-size: 32.7px;
      font-weight: 300;
      padding: 17px 0px 23px 0px;
      
      color: #4f4f4f;
    }

    .choice {

      li {
        font-family: 'Univers CE';
        font-size: 16px;
        font-weight: 300;
        margin: 0 0 18px 0;
        color: #8a8888; 
      }
    }
  }
}

.choice li:before {
  content: url('../img/list.png');
  margin: 0px 5px 0px 0px;
}

.registration {
  margin: 73px 0px 0px 0px;
  border-top: 1px solid #dedede;
  
  .login__email {
    display: flex;
    width: 1024px;
    margin: 0 auto;

    .login {
      width: 469px;
      height: 110px;
      margin: 25px 25px 30px 0px;
      background-color: #e67624;
      border-radius: 5px;

      h2 {
        font-family: 'Segoe UI Light';
        font-size: 28px;
        font-weight: 300;
        color: #ffffff;
        margin: 14px 0px 14px 0px;
        padding: 0px 0px 0px 25px;
        
      }
  }

    .email {
      width: 469px;
      height: 110px;
      margin: 25px 0px 30px 25px;
      background-color: #01d4f3;
      border-radius: 5px;

      h2 {
        font-family: 'Segoe UI Light';
        font-size: 28px;
        font-weight: 300;
        color: #ffffff;
        margin: 14px 0px 14px 0px;
        padding: 0px 0px 0px 25px;
      }
    }
  }
}

.login__form {
  display: flex;
  align-items: baseline;
  padding: 0px 0px 0px 25px;

  .name {
    display: block;
    width: 156px;
    height: 27px;
    margin: 0px 14px 0px 0px;
    font-family: 'Segoe UI Light';
    font-size: 16px;
    font-weight: 300;
    padding: 0px 12px 0px 12px;
    background-color: #e8e8e8;
  }

  .pass {
    display: block;
    width: 151px;
    height: 27px;
    margin: 0px 12px 0px 0px;
    font-family: 'Segoe UI Light';
    font-size: 16px;
    font-weight: 300;
    color: #4f4f4f;
    padding: 0px 12px 0px 12px;
    background-color: #e8e8e8;
  }

  .submit__login {
    display: block;
    width: 94px;
    height: 30px;
    background-color: #444444;
    font-family: 'Segoe UI Light';
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
  }
}

.name {
  color: black;
}

.name::placeholder {
  color: #bfc8d0;
}

.pass {
  color: black;
}

.pass::placeholder {
  color: #bfc8d0;
}

.email__form {
  display: flex;
  align-items: baseline;
  padding: 0px 0px 0px 25px;

  .adress {
    display: block;
    width: 264px;
    height: 27px;
    margin: 0px 50px 0px 0px;
    font-family: 'Segoe UI Light';
    font-size: 16px;
    font-weight: 300;
    color: #4f4f4f;
    padding: 0px 12px 0px 12px;
    background-color: #e8e8e8;
  }

  .submit__email {
    display: block;
    width: 111px;
    height: 30px;
    background-color: #444444;
    font-family: 'Segoe UI Light';
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    color: #ffffff;
  } 
}

.adress {
  color: black;
}

.adress::placeholder {
  color: #bfc8d0;
}

footer {
  background-color: #2c2e2d;
  height: 242px;
}

.footer-content {
  display: flex;
  width: 1024px;
  margin: 0 auto;
  padding: 35px 0px 0px 42px;
  
}

.about {
    flex-basis: 190px;
  h3 {
    font-family: 'Segoe UI Light';
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    padding: 0px 0px 15px 0px;
  }

  li {
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    padding: 0px 0px 0px 3px;
  }
}

.about_us {
    flex-basis: 190px;
  h3 {
    font-family: 'Segoe UI Light';
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    padding: 0px 0px 15px 0px;
    }

  li {
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
    color: #ffffff;
    padding: 0px 0px 0px 3px;
  }
}

.testim {
  width: 350px;

  h3 {
    font-family: 'Segoe UI Light';
    font-size: 22px;
    font-weight: 300;
    color: #ffffff;
    padding: 0px 0px 15px 0px;
    position: relative;
  }
  
  .footer-text {
    opacity: 0.5;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 22px;
    color: #ffffff;
  }

  .footer-text-two {
    opacity: 0.65;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
    color: #ffffff;
  }
}

.testim h3::before {
  content: url('/src/img/layer1.png');
  position: absolute;
  left: 188px;
  width: 20px;
  height: 20px;
}

.testim h3::after {
  content: url('/src/img/layer2.png');
  position: absolute;
  left: 212px;
  width: 20px;
  height: 20px;
}

.footer-contact {
    flex-basis: 245px;

  .footer-logo {
    padding: 10px 0px 0px 0px;
    
    .f-logo {
      opacity: 0.21;
      font-family: 'MrsEaves';
      font-size: 118.6px;
      font-style: italic;
      color: #ffffff;
    }

    .author {
      opacity: 0.8;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 13px;
      color: #ffffff;
    }
  }
}



