
@font-face {
  font-family: 'Segoe UI Light';
  src: url('../fonts/SegoeUI-Light.eot');
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
    url('../fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-Light.woff') format('woff'),
    url('../fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI SemiBold';
  src: url('../fonts/SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
    url('../fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SegoeUI-SemiBold.woff') format('woff'),
    url('../fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MrsEaves';
  src: url('../fonts/MrsEavesItalic.eot');
  src: local('☺'), url('../fonts/MrsEavesItalic.woff') format('woff'), url('../fonts/MrsEavesItalic.ttf') format('truetype'), url('../fonts/MrsEavesItalic.svg') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'univers_ce_45_lightregular';
  src: url('univers_ce_45_light-webfont.woff2') format('woff2'),
    url('univers_ce_45_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import  'nullstyle.scss' ;

body {
  background-color: #ffffff;
}

header {
  background: url('../img/background.png');
  height: 489px;
}

.header-content {
  max-width: 1024px;
  margin: 0 auto;
}

.header-menu {
  display: inline-block;
  margin: 55px 0px 0px 497px;
}

.menu a:hover {
  color: #8c9095;
}

.menu li {
  display: inline-block;
  width: 123px;
}

.menu a {
  font-family: 'Segoe UI Light';
  font-size: 22.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.header-logo {
  display: inline-block;
  margin: 0px 90px 0px 90px;
}

.logo {
  opacity: 0.67;
  font-family: 'Mrs Eaves';
  font-size: 118.6px;
  line-height: 32px;
  font-style: italic;
  color: #ffffff;

}

.banner-img {
  float: left;
  margin: 68px 0px 0px 120px;

  img {
    border-radius: 59px;
    overflow: hidden;
  }
}

.banner-text {
  display: inline-block;

  h1 {
    font-family: 'Segoe UI Light';
    font-weight: 600;
    font-size: 64.7px;
    line-height: 1.2;
    color: #ffffff;
    padding: 100px 0px 0px 75px;
  }

  h2 {
    font-family: 'Segoe UI Light';
    font-size: 44.7px;
    font-weight: 300;
    line-height: 1.2;
    color: #ffffff;
    padding: 0px 0px 0px 74px;
  }
}

.banner-button {
  width: 146px;
  height: 46px;
  margin: 27px 0px 0px 74px;
  background-color: #2b7551;
  border: 4px solid #181d19;

  .button {
    font-family: 'Segoe UI Light';
    font-size: 22.7px;
    line-height: 32px;
    font-weight: 300;
    color: #ffffff;
  }

  span {
    padding: 10px 0px 10px 19px;
  }

  a:hover {
    color: #8c9095;
  }
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0px 0px 0px;
  font-family: 'Segoe UI Light';
  font-weight: 300;
  color: #5c5b5b;

  li {
    position: relative;
    width: 256px;
    border: 1px solid #dedede;
    box-shadow: 0 0 3px #dedede;
    border-bottom: none;
    padding: 28px 0px 0px 0px;
    
  }

  h2 {
    display: block;
    font-size: 26px;
    padding: 167px 0px 0px 0px;
    text-align: center;
  }

  p {
    font-size: 22.7px;
    line-height: 1.2;
    text-align: center;
  }

  .phone:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_blue.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .basket:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_yellow.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .planet:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_green.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .magnifier:before {
    content: '';
    position: absolute;
    width: 136px;
    height: 158px;
    background-image: url('../img/icon_orange.png');
    background-repeat: no-repeat;
    left: 60px;
  }

  .phone:after {
    content: '';
    position: absolute;
    background-image: url('../img/phone.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 85px;
    left: 100px;
  }

  .basket:after {
    content: '';
    position: absolute;
    background-image: url('../img/basket.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 77px;
    left: 100px;
}

  .planet:after {
    content: '';
    position: absolute;
    background-image: url('../img/planet.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 89px;
    left: 85px;
  }

  .magnifier:after {
    content: '';
    position: absolute;
    background-image: url('../img/magnifier.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 95px;
    bottom: 79px;
    left: 96px;
  }

}
