@import 'nullstyle.scss';

body {
  font-family: sans-serif; 
  background-color: #8c8c8d;
}

header {
 height: 150px;
background-color: #ffffff;
}

// // &:hover {
  .delete {
    content: '';
    display: inline-block;
    opacity: 0.7;
    margin: 2px 15px 0px 3px;
    width: 18px;
    height: 18px;
    background: url('../img/icons8-мусорная-корзина-48\ \(1\).png') center (center / cover) no-repeat;
    cursor: pointer;
  }

.container {
  background-color: #f7f3f7;
  max-width: 1200px;
  margin: 0 auto;
}

.words {
  display: flex;
  justify-content: space-around;
}

#words__text {
  resize: none;
  padding: 10px 0px 10px 15px;
  width: 340px;
  min-height: 60px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid #eee8e8;
  box-shadow: 4px 4px 10px #cbc3c3;
}

.words__title {
  text-align: center;
  font-size: 30px;
}

.words__input {
  margin: 50px 0px 0px 0px;
}

.words__output {
  margin: 50px 0px 0px 0px;
}

#output {
  border: 2px solid #eee8e8;
  width: 340px;
  height: 250px;
  font-size: 23px;
  padding: 10px 0px 10px 15px;
  border-radius: 15px;
  box-shadow: 4px 4px 10px #cbc3c3;
  background-color: #fff;
  overflow: auto;
}

.scroll::-webkit-scrollbar {
  width: 18px;// ширина для вертикального скролла
  height: 8px;// высота для горизонтального скролла
  //background-color: #f7e9fb;
}

.scroll::-webkit-scrollbar-thumb {//Задает цвет и радиус скругления трэка
  background-color: #917c94;
  border-radius: 12px;
}

.scroll::-webkit-scrollbar-track {//Задает для трэка скругление краев
  //border-radius: 7px;
}

.scroll:hover::-webkit-scrollbar-thumb {//При наведении на блок меняет цвет трэка
  background-color: #77447f;
}

.training {
  margin: 70px 0px 0px 0px;
}

.training__button {
  margin: 0px 0px 30px 0px;
}

#start {
  display: block;
  margin: 0 auto;
  border: 2px solid #eee8e8;
  width: 150px;
  height: 50px;
  border-radius: 23px;
  box-shadow: 4px 4px 10px #cbc3c3;
  background-color: #fff;
}

#start span {
  font-size: 25px;
}

#training__text {
  height: 50px;
  font-size: 30px;
  line-height: 43px;
  color: #727275;
  background-color: #fff;
  width: 940px;
  margin: 0 auto;
}

.training__input {
  margin: 10px 0px 0px 0px;
}

#input__text {
  display: block;
  margin: 0 auto;
  resize: none;
  padding: 10px;
  width: 940px;
  min-height: 60px;
  font-size: 20px;
  border-radius: 15px;
  border: 2px solid #eee8e8;
  box-shadow: 4px 4px 10px #cbc3c3;
}

footer {
  min-height: 50px;
}
