@charset "UTF-8";
@font-face {
  font-family: "Segoe UI Light";
  src: url("../fonts/SegoeUI-Light.eot");
  src: local("Segoe UI Light"), local("SegoeUI-Light"), url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI SemiBold";
  src: url("../fonts/SegoeUI-SemiBold.eot");
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MrsEaves";
  src: url("../fonts/MrsEavesItalic.eot");
  src: local("☺"), url("../fonts/MrsEavesItalic.woff") format("woff"), url("../fonts/MrsEavesItalic.ttf") format("truetype"), url("../fonts/MrsEavesItalic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Univers CE";
  src: url("univers_ce_45_light-webfont.woff2") format("woff2"), url("univers_ce_45_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* меняет подсчет ширины блока width и height */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров: */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* делает эти теги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* уравнивает поведение шрифтов и эл-в для разных браузеров
запрещает увеличение шрифта самовольно-на айфонах напр */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* просим теги форм наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}

/* убираем некоторые особенности тегов в разных браузерах */
/* убирается крестик в инпутах в ие , 
убираются лишние отступы для кнопок в firefox,
чистятся стили маркиованных списков и т д*/
input::-ms-clear {
  display: none;
}

/* убирает крестик в окне input в IE!!! */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* уб лишние отступы и пробелы в кнопках в Firefox */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* обнуляем все заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #ffffff;
}

header {
  background: url("../img/background.png");
  height: 489px;
}

.header-content {
  max-width: 1024px;
  margin: 0 auto;
}

.header-menu {
  display: inline-block;
  margin: 55px 0px 0px 497px;
}

.menu a:hover {
  color: #8c9095;
}

.menu li {
  display: inline-block;
  width: 123px;
}

.menu a {
  font-family: "Segoe UI Light";
  font-size: 22.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.header-logo {
  display: inline-block;
  margin: 0px 90px 0px 90px;
}

.logo {
  opacity: 0.67;
  font-family: "Mrs Eaves";
  font-size: 118.6px;
  line-height: 32px;
  font-style: italic;
  color: #ffffff;
}

.banner-img {
  float: left;
  margin: 68px 0px 0px 120px;
}
.banner-img img {
  border-radius: 59px;
  overflow: hidden;
}

.banner-text {
  display: inline-block;
}
.banner-text h1 {
  font-family: "Segoe UI Light";
  font-weight: 600;
  font-size: 64.7px;
  line-height: 1.2;
  color: #ffffff;
  padding: 100px 0px 0px 75px;
}
.banner-text h2 {
  font-family: "Segoe UI Light";
  font-size: 44.7px;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
  padding: 0px 0px 0px 74px;
}

.banner-button {
  width: 146px;
  height: 46px;
  margin: 27px 0px 0px 74px;
  background-color: #2b7551;
  border: 4px solid #181d19;
}
.banner-button .button {
  font-family: "Segoe UI Light";
  font-size: 22.7px;
  line-height: 32px;
  font-weight: 300;
  color: #ffffff;
}
.banner-button span {
  padding: 10px 0px 10px 19px;
}
.banner-button a:hover {
  color: #8c9095;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 80px 0px 0px 0px;
  font-family: "Segoe UI Light";
  font-weight: 300;
  color: #5c5b5b;
}
.items li {
  position: relative;
  width: 256px;
  padding: 28px 0px 0px 0px;
}
.items li.active {
  background: white;
  border: 1px solid #dedede;
  box-shadow: -2px -1px 2px rgba(0, 0, 0, 0.15), 2px -1px 2px rgba(0, 0, 0, 0.15);
  border-bottom: none;
}
.items h2 {
  display: block;
  font-size: 26px;
  padding: 167px 0px 0px 0px;
  text-align: center;
}
.items p {
  margin: 0px 0px 45px 0px;
  font-size: 22.7px;
  line-height: 1.2;
  text-align: center;
}
.items .phone:before {
  content: "";
  position: absolute;
  width: 136px;
  height: 158px;
  background-image: url("../img/icon_blue.png");
  background-repeat: no-repeat;
  left: 60px;
}
.items .basket:before {
  content: "";
  position: absolute;
  width: 136px;
  height: 158px;
  background-image: url("../img/icon_yellow.png");
  background-repeat: no-repeat;
  left: 60px;
}
.items .planet:before {
  content: "";
  position: absolute;
  width: 136px;
  height: 158px;
  background-image: url("../img/icon_green.png");
  background-repeat: no-repeat;
  left: 60px;
}
.items .magnifier:before {
  content: "";
  position: absolute;
  width: 136px;
  height: 158px;
  background-image: url("../img/icon_orange.png");
  background-repeat: no-repeat;
  left: 60px;
}
.items .phone:after {
  content: "";
  position: absolute;
  background-image: url("../img/phone.png");
  background-repeat: no-repeat;
  width: 103px;
  height: 95px;
  bottom: 132px;
  left: 100px;
}
.items .basket:after {
  content: "";
  position: absolute;
  background-image: url("../img/basket.png");
  background-repeat: no-repeat;
  width: 103px;
  height: 95px;
  bottom: 124px;
  left: 100px;
}
.items .planet:after {
  content: "";
  position: absolute;
  background-image: url("../img/planet.png");
  background-repeat: no-repeat;
  width: 103px;
  height: 95px;
  bottom: 136px;
  left: 85px;
}
.items .magnifier:after {
  content: "";
  position: absolute;
  background-image: url("../img/magnifier.png");
  background-repeat: no-repeat;
  width: 103px;
  height: 95px;
  bottom: 126px;
  left: 96px;
}

.tab {
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 60px 0px 0px 0px;
  border: 1px solid #dedede;
  box-shadow: 0 0 3px #dedede;
  bottom: 2px;
  z-index: -1;
  position: relative;
}
.tab img {
  display: block;
  margin: 0 auto;
}
.tab .text {
  padding: 0px 65px 30px 56px;
}
.tab .text h2 {
  font-family: "Segoe UI Light";
  font-size: 38.7px;
  font-weight: 300;
  padding: 20px 0px 24px 0px;
  color: #4f4f4f;
}
.tab .text p {
  font-family: "Univers CE";
  line-height: 24px;
  font-weight: 300;
  margin: 0px 0px 30px 0px;
  color: #818181;
}

.browser {
  margin: 30px 0px 0px 0px;
}
.browser .window {
  float: left;
  width: 448px;
  height: 314px;
  box-shadow: 0 0 10px #c3c9d8;
  border-radius: 8px;
  overflow: hidden;
}
.browser .list {
  display: inline-block;
  padding: 0px 0px 0px 54px;
}
.browser .list h2 {
  font-family: "Segoe UI Light";
  font-size: 32.7px;
  font-weight: 300;
  padding: 23px 0px 23px 0px;
  color: #4f4f4f;
}
.browser .list .choice li {
  font-family: "Univers CE";
  font-size: 16px;
  font-weight: 300;
  margin: 0 0 18px 0;
  color: #8a8888;
}

.choice li:before {
  content: url("../img/list.png");
  margin: 0px 5px 0px 0px;
}

.registration {
  margin: 73px 0px 0px 0px;
  border-top: 1px solid #dedede;
}
.registration .login__email {
  width: 1024px;
  margin: 0 auto;
}
.registration .login__email .login {
  display: inline-block;
  width: 469px;
  height: 110px;
  margin: 25px 25px 30px 0px;
  background-color: #e67624;
  border-radius: 5px;
}
.registration .login__email .email {
  display: inline-block;
  width: 469px;
  height: 110px;
  margin: 25px 0px 30px 25px;
  background-color: #01d4f3;
  border-radius: 5px;
}