/* обнуление стилей */
/* очищение отступов и границ: */
*{
  padding: 0px;
  margin: 0px;
  border: 0px;
}    

/* меняет подсчет ширины блока width и height */
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}   

/* убираем линии обводки у некоторых браузеров: */
:focus,:active{outline: none;}
a:focus,a:active {
  outline: none;
}

/* делает эти теги блочными */
nav,footer,header,aside{display: block;}

/* уравнивает поведение шрифтов и эл-в для разных браузеров
запрещает увеличение шрифта самовольно-на айфонах напр */
html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* просим теги форм наследовать семейство шрифта */
input,button,textarea{font-family: inherit;}

/* убираем некоторые особенности тегов в разных браузерах */
/* убирается крестик в инпутах в ие , 
убираются лишние отступы для кнопок в firefox,
чистятся стили маркиованных списков и т д*/
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0; border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

/* обнуляем все заголовки h */
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}



/* lesson1 */
.big{
  font-size: 20px;
    color: red;
}
span.bigger {
  color: blue;
}
.bigger{
  color: rgb(91, 254, 237);
}
.small span {
  color: rgb(255, 0, 119);
}
.small>p {
  color: rgb(192, 53, 143);
}


/* lesson2 */
.arial{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.fontsize{
  font-size: 30px;
}  
/* font-size-размер шрифта */

.italic{
  font-style: italic;
}
/* :normal-вернет текст в нормальное состояние
    oblic-наклонное начертание */

.fontweight{
  font-weight: 700;
}
/* жирность шрифта.  норм-400 */

.color{
  color: blue;
}
.align {
  text-align: center;
  /*положение текста  text-align: right; */

}
.justify {
  text-align: justify;
}
/* выравн по ширине-растягивание */

.decoration {
  text-decoration: underline;
  /* text-decoration: overline;-линия над текстом */
  /* text-decoration: line-through;-зачеркнутый */
  /* text-decoration: none;-уберет */
  
}
.shadow {
  text-shadow: 1px 1px 1px black ;
  /* : смещение по гориз-по вертик-размер размытия тени-цвет */
}
.transform {
  text-transform: uppercase;
}
/* capitalize-первый символ каж слова б заглавным 
заглавные- или строчные-lowercase  none*/

.indent {
text-indent: 50px;
}
/* уст велич отступа первой строки */

.letterspasing {
letter-spacing: 5px;
}
/* опр-ет интервал между символами */

.wspasing {
  word-spacing: 10px;
}
/* опр-ет интервал между словами */

.whitespace {
  white-space: nowrap;
}
/* упр-ет св-ми пробелов между словами 
nowrap-убирает переносы*/

.lineheight {
line-height: 20px;
}
/* уст-ет межстрочный интервал текста */

/* lesson3 */
.example-block {
  padding: 10px 20px 30px 5px;
  /* верх справа внизу слева */
  /* padding: 10px 20px 30px;---верх   справа и слева   снизу*/
  /* padding: 10px 20px;--- сверху и снизу    справа и слева */
  /* padding: 10px  --- со всех сторон */
  /* не прим к строчным тегам
  не м б отрицат */
  margin: 10px 20px 30px 5px;
  /* м б отрицат */
  border: 1px solid black ;
}

.width {
  width: 700px;
  /* только для блочных */
  border: 1px solid black;
}

.max-width {
  max-width: 500px;
  border: 1px solid black;
}
/* мах ширина бл тегов (ограничитель ширины) */

.min-width {
  min-width: 400px;
  border: 1px solid black;
}
/* ограничитель шир-ув может    уменьш нет*/

.height-px {
  height: 200px;
  border: 1px solid black;
}
/* height не д на стр теги */

.height {
  height: 50%;
  border: 1px solid black;
}

.max-height {
  max-height: 20px;
  border: 1px solid black;
}

.min-height {
min-height: 200px;
border: 1px solid black;
}
/* если доб больше текста-блок увеличится */

.overflow-visible {
overflow: visible;
max-height: 50px;
border: 1px solid black;
}
/* отображение содержания бл эл-та */

.overflow-hidden {
  overflow: hidden;
  max-height: 50px;
  border: 1px solid black;
}
/* обрезает все что выходит за пределы блока */

.overflow-scroll {
  overflow: scroll;
  max-height: 50px;
  border: 1px solid black;
}
/* появляется скролл */

.overflow-auto {
  overflow: auto;
  max-height: 50px;
  border: 1px solid black;
}
/* под-ет полосы прокрутки только когда они нужны */

.display-block {
  display: block;
  padding: 20px;
  border: 1px solid black;
}
/* строчному тегу задаются св-ва блока */

.display-inline {
  display: inline;
}
/* блочный становится строчным */

.display-inline-block {
  display: inline-block;
  padding: 20px;
  width: 500px;
  border: 1px solid black;
}
/* эл ост строчным-выстраивается в строку,
но на него д-ет знач высоты ширины и отступов */

.display-none {
  display: none;
  padding: 20px;
  width: 500px;
  border: 1px solid black;
}
/* временно удаляет эл-т из док-та
его место не резервир ся */

.img-width {
  width: 100px;
}

.img-max-min {
  width: 100%;
  max-width: 900px;
  min-width: 600px;
}

.img-height {
  height: 50px;
}

.img-max-height {
max-height: 100px;
}

