* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
background-color: #e8e8e8;
background-image: url('../img/Ellipse-1-copy.png');
background-position: 50% 70px;
background-repeat: no-repeat;
}

.video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* loop
  autoplay
  muted */
}

.content {
  max-width: 841px;
  margin: 0 auto;
  padding: 125px 0 137px 0;
}

h2 {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.8px;
  opacity: 0.6;
  color: #273d46;
}

h1 {
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  padding: 0 55px 55px;
  color: #273d46;
}

.content-image {
  border: 10px solid #f9f9f9;
  box-shadow: 0 0 40px #c3c9d8;
  margin: 0 0 85px 0;
}

.content-image img {
  max-width: 100%;
}

.contente-text {
  font-size: 24px;
  line-height: 40px;
  color: #53646b;
  padding: 0 45px;
}

.contente-text p {
margin: 0 0 40px 0;
}

.contente-text p:last-child {
  margin: 0;
}

.list {
margin: 56px 0 59px 44px;
}

.list li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin: 0 0 17px 0;
  padding: 0 0 0 34px;
  background: url('../img/check-icon.png') left no-repeat;
}

.list li:last-child {
  margin: 0;
}

.list li:nth-child(1) {
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
  color: #273d46;
}

.list li:nth-child(2) {
font-style: italic;
color: #80b7b3;
}

.list li:nth-child(3) {
font-weight: 700;
color: #273d46;
}

.list li:nth-child(4) {
text-decoration: line-through;
color: #273d46;
}

.list li:nth-child(4) span {
opacity: 0.3;
}

.content-button {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 23px;
  padding: 0 30px;
  margin: 0px 0 0 42px;
  box-shadow: 0px 6px 40px 0px #94a6ae;
  background-color: #80b7b3 ;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-style: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.content-button span {
  padding: 0 30px 0 0;
  
}

.content-button span::after{
  content: url('../img/icons/arrow.svg');
}

.content-button-two {
  display: inline-block;
  height: 44px;
  line-height: 44px;
  border-radius: 23px;
  padding: 0 30px;
  margin: 0px 0 0 42px;
  background-color: #80b7b3;
  -webkit-box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.5);

  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-style: 14px;
  text-transform: uppercase;
  letter-spacing: 2.8px;
}

.content-button-two:hover {
  background-color: #7d7d93;
}

.content-button-two:active {
  position: relative;
  top: 4px;
  -webkit-box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.5);
}


.content-button-two span {
  padding: 0 30px 0 0;
  background: url('../img/icons/arrow.svg') right no-repeat;
}





button {
  width: 199px;
  height: 44px;
  box-shadow: 0px 5px 24px -10px #273d46;
  background: #80b7b3 url('../img/icons/arrow.svg') right no-repeat;
  margin: 58px 0 0 42px;
  border-radius: 23px;
  font-family: Arial;
    font-size: 14px;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
}

/* lesson6-practice*/


.contente-list {
  margin: 56px 0 0 44px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #273d46;
}

.list-psevdoklass {
  margin: 0 0 70px 0;
}

.list-psevdoklass li{
margin: 0 0 17px 0;
padding: 0 0 0 34px;
background: url('../img/check-icon.png') left no-repeat;
}

.list-psevdoklass li:first-child{
  text-decoration: line-through;
}

.list-psevdoklass li:nth-child(2) {
  font-weight: 700;
}

.list-psevdoklass li:nth-child(3) {
  font-style: italic;
}

.list-psevdoklass li:last-child{
  text-transform: uppercase;
}


.list-hover {
  margin: 0 0 70px 0;
}


.list-hover li {
  margin: 0 0 17px 0;
}

.list-hover li:before{
  content: url('../img/check-icon.png');
  margin: 0 5px 0 0;
}

.list-hover li:nth-child(2):hover:before{
  background-color: red;
}

.list-hover li:first-child:hover{
text-decoration: line-through;
}

.list-hover li:nth-child(2):hover {
  color: red;
}

.list-hover li:nth-child(3):hover{
  text-shadow: 2px 2px 2px rgb(113, 109, 109);
}

.list-hover li:last-child:hover{
  text-decoration: underline;
}

.content-button:hover{
  background-color: #3a5856;
}

.content-button:active{
  background-color: #818181;
}

.textinput6{
  margin: 122px 0 0 44px;
  width: 294px;
  height: 52px;
  padding: 0 15px;
  border: 1px solid #b0b0b0;
}

.textinput6:focus{
  border: 1px solid #7fbed5;
  box-shadow: 0px 0px 20px -1px rgba(127, 190, 213, 0.93);
}

.contente-lesson7{
  margin: 50px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #000000;
}

.contente-lesson7 p{
  margin: 0 0 46px 42px;
}

.contente-lesson7:first-line{
  color: #ff0000;
}

.contente-lesson7 p:last-child::first-letter {
  font-size: 25px;
  color: red;
}
