* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.practice-block {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  width: 1280px;
  margin: 0 auto;
  color: #000000;
}

.one {
  width: 612px;
  margin: 50px 0 34px 0;
  line-height: 21px;
  border: 1px solid black;
}

.two {
display: block;
width: 273px;
border: 1px solid black;
}

.three {
display: block;
width: 453px;
border: 1px solid black;
}

.four {
  margin: 33px 0 0 0;
  height: 88px;
  line-height: 25px;
  border: 1px solid black;
}

.five-six {
  margin: 33px 0 0 0;
}

.five {
  display: inline-block;
  width: 240px;
  border: 1px solid black;
}

.six {
  display: inline-block;
  width: 220px;
  margin: 0 0 0 40px;
  border: 1px solid black;
}

.seven-eight {
margin: 36px 0 0 0;
}

.seven {
 display: inline-block;
border: 1px solid black;
}

.eight {
  display: inline-block;
  margin: 0 0 0 41px;
  border: 1px solid black;
}

.nine {
  display: block;
  margin: 37px 0 0 0;
  width: 346px;
  padding: 48px 0 ;
  border: 1px solid black;
}
