@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* меняет подсчет ширины блока width и height */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров: */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* делает эти теги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* уравнивает поведение шрифтов и эл-в для разных браузеров
запрещает увеличение шрифта самовольно-на айфонах напр */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* просим теги форм наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}

/* убираем некоторые особенности тегов в разных браузерах */
/* убирается крестик в инпутах в ие , 
убираются лишние отступы для кнопок в firefox,
чистятся стили маркиованных списков и т д*/
input::-ms-clear {
  display: none;
}

/* убирает крестик в окне input в IE!!! */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* уб лишние отступы и пробелы в кнопках в Firefox */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* обнуляем все заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.background {
  background: url("../img/1641317373_1-abrakadabra-fun-p-klyaksa-kraski-png-2.jpg");
}

header h2 {
  color: #FFF;
  mix-blend-mode: difference;
  font: 900 120px/120px Arial;
  text-align: center;
}

header h2 span {
  display: block;
  font-size: 80px;
}

.wrapper__checkbox-radio {
  width: 100%;
  overflow: hidden;
  padding: 40px 70px;
  background-color: #eee;
}

.block-form__title {
  font-size: 30px;
  margin-bottom: 20px;
}

.block-form__input {
  margin-bottom: 15px;
}

.checkbox {
  font-size: 16px;
  line-height: 20px;
  padding: 0px 0px 0px 70px;
  position: relative;
  cursor: pointer;
}

.checkbox.active {
  color: #000;
}

.checkbox.active::before {
  background-color: rgb(106, 221, 135);
}

.checkbox.active::after {
  background-color: rgb(106, 221, 135);
  left: 25px;
}

.checkbox::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: rgb(231, 225, 225);
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.checkbox::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -5px;
  left: 0;
  background-color: rgb(231, 225, 225);
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.checkbox input {
  display: none;
}

.radiobuttons__item {
  position: relative;
  padding: 0px 0px 0px 45px;
  font-size: 16px;
  line-height: 30px;
  color: #b2b2b2;
  margin-bottom: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.radiobuttons__item.active {
  color: #000;
}

.radiobuttons__item.active::after {
  transform: scale(1);
}

.radiobuttons__item::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  left: 0;
  background-color: #bfc0c4;
  border-radius: 50%;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.radiobuttons__item::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 5px;
  background-color: rgb(26, 205, 70);
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  transform: scale(0);
}

.radiobuttons__item input {
  display: none;
}

.button {
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 0 30px;
  font-size: 18px;
  border-radius: 25px;
  background-color: rgb(213, 209, 209);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}

.button span {
  position: relative;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 25px;
  background-color: rgb(106, 221, 135);
  transition: all 0.3s ease 0s;
  transform: scale(0);
}

.button:hover {
  color: #fff;
}

.button:hover::before {
  transform: scale(1);
}

.button-label {
  width: 250px;
  text-align: center;
  font-size: 30px;
  color: #4f4949;
  margin: 0px 0px 17px 0px;
}

.link {
  width: 250px;
  height: 50px;
  border: 1px solid #4f483c;
  border-radius: 7px;
}

input[type=number] {
  color: #4f483c;
  font-size: 24px;
  padding-left: 10px;
  line-height: 55px;
  background-color: rgb(241, 241, 241);
}

.buttons input:focus {
  border: 2px solid rgb(195, 73, 152);
}

/*Стили для демонстрации*/
.button-with-waves {
  background-color: #000;
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Основные стили */
.wave-btn {
  width: 280px;
  height: 60px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

.wave-btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  -webkit-transition: all 0.8s ease 0.2s;
  -moz-transition: all 0.8s ease 0.2s;
  -ms-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: #000;
  border-radius: 48%;
  animation: waves 5s infinite linear;
  -webkit-animation: waves 5s infinite linear;
  -moz-animation: waves 5s infinite linear;
  -o-animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
  -webkit-animation: waves 10s infinite linear;
  -moz-animation: waves 10s infinite linear;
  -o-animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-code_color {
  background: #1e1e1e;
  border: none;
  color: #fafafa;
  font-family: Roboto sans-serif;
  width: 150px;
  font-size: 16px;
  text-align: center;
  padding: 5px 0;
  display: block;
}

.code_color {
  text-transform: uppercase;
  font-size: 35px;
  font-family: Roboto;
  color: #1e1e1e;
  font-weight: bold;
}