@charset "UTF-8";
@font-face {
  font-family: "Segoe UI Light";
  src: url("../fonts/SegoeUI-Light.eot");
  src: local("Segoe UI Light"), local("SegoeUI-Light"), url("../fonts/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Light.woff") format("woff"), url("../fonts/SegoeUI-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI SemiBold";
  src: url("../fonts/SegoeUI-SemiBold.eot");
  src: local("Segoe UI Semibold"), local("SegoeUI-SemiBold"), url("../fonts/SegoeUI-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-SemiBold.woff") format("woff"), url("../fonts/SegoeUI-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MrsEaves";
  src: url("../fonts/MrsEavesItalic.eot");
  src: local("☺"), url("../fonts/MrsEavesItalic.woff") format("woff"), url("../fonts/MrsEavesItalic.ttf") format("truetype"), url("../fonts/MrsEavesItalic.svg") format("svg");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "univers_ce_45_lightregular";
  src: url("univers_ce_45_light-webfont.woff2") format("woff2"), url("univers_ce_45_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* меняет подсчет ширины блока width и height */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров: */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* делает эти теги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* уравнивает поведение шрифтов и эл-в для разных браузеров
запрещает увеличение шрифта самовольно-на айфонах напр */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* просим теги форм наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}

/* убираем некоторые особенности тегов в разных браузерах */
/* убирается крестик в инпутах в ие , 
убираются лишние отступы для кнопок в firefox,
чистятся стили маркиованных списков и т д*/
input::-ms-clear {
  display: none;
}

/* убирает крестик в окне input в IE!!! */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* уб лишние отступы и пробелы в кнопках в Firefox */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* обнуляем все заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #ffffff;
}

header {
  background: url("../img/background.png");
  height: 489px;
}

.header-content {
  max-width: 1024px;
  margin: 0 auto;
}

.header-menu {
  display: inline-block;
  margin: 55px 0px 0px 497px;
}

.menu a:hover {
  color: #8c9095;
}

li {
  display: inline-block;
  width: 123px;
}

a {
  font-family: "Segoe UI Light";
  font-size: 22.7px;
  line-height: 1.2;
  font-weight: 300;
  color: #ffffff;
}

.header-logo {
  display: inline-block;
  margin: 0px 90px 0px 90px;
}

.logo {
  opacity: 0.67;
  font-family: "Mrs Eaves";
  font-size: 118.6px;
  line-height: 32px;
  font-style: italic;
  color: #ffffff;
}

div .banner-img {
  display: inline-block;
}

div .banner-text {
  display: inline-block;
}

img {
  border-radius: 59px;
  overflow: hidden;
}

.banner-text h1 {
  font-family: "Segoe UI Light";
  font-size: 64.7px;
  line-height: 1.2;
  color: #ffffff;
}

.banner-text h2 {
  font-family: "Segoe UI Light";
  font-size: 44.7px;
  font-weight: 300;
  line-height: 1.2;
  color: #ffffff;
}

.content {
  max-width: 1024px;
  margin: 0 auto;
}