
@import  'nullstyle.scss' ;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  min-height: 100%;
}

.page {
  padding: 90px 0px 30px 0px;
}

.page__section {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.page__section-1 {
  background-color: rgb(209, 176, 176);
}

.page__section-2 {
  background-color: rgb(184, 142, 174);
}

.page__section-3 {
  background-color: rgb(140, 182, 152);
}

.page__title {
  font-size: 40px;
  margin: 0px 0px 20px 0px;
}

.page__text {
  font-size: 16px;
  line-height: 150%;
}

.page__text p {
  margin: 0px 0px 20px 0px;
}

.page__sub-title {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
}






.header {
  position: fixed; //шапка прикл кверху
  width: 100%;
  top: 0;
  left: 0;//
  z-index: 10;
  background-color: rgb(223, 237, 230);
}

.header__container {
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.header__logo {
  border-radius: 50%;//logo в виде круж
  background-color: #fff;
  position: relative;
  width: 40px;
  height: 40px;
  z-index: 5;
}

.header__menu {}

.menu {}

.menu__icon {}

.menu__body {}

.menu__list {}

.menu__link {}

.sub-list {}

.menu__sub-link {}

@media (min-width:767px) {
    .menu__list {
      display: flex;
      justify-content: center;
    }
    .menu__list > li {
      padding: 10px 0;
    }
}




// .wrapper {
//   min-height: 100%;
//   overflow: hidden;
//   display: flex;
//   flex-direction: column;
// }

// .container {
//   max-width: 1180px;
//   margin: 0 auto;
// }

// .content {
//   flex: 1 1 auto;
// }

// .hi {
//   background-color: #445162;
//   padding: 50px 0px 50px 0px;
// }

// .hi__row {
//   display: flex;
//   justify-content: space-between;
// }

// .hi__body {
//   color: #ffffff;
//   padding: 0px 30px 0px 0px;
// }

// .hi__title {
//   text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
//   font-size: 60px;
//   margin: 0px 0px 38px 0px;
// }

// .hi__list li {
//   background: url('../img/item.png') 0 1px no-repeat;
//   text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
//   font-size: 20px;
//   padding: 0px 0px 0px 36px;
//   margin: 0px 0px 15px 0px;
//   line-height: 22px;
// }

// .hi__list li:last-child {
//   margin: 0;
// }

// .title {
//   font-size: 30px;
//   line-height: 36px;
//   color: #445161;
// }

// .what {
//   padding: 50px 0px 50px 0px;
// }

// .what__row {
//   display: flex;
// }

// .what__image {
//   flex: 0 0 430px;
// }

// .what__image img {
//   max-width: 100%;
// }

// .what__body {
//   flex: 1 1 auto;
//   padding: 0px 0px 0px 38px;
// }

// .what__title {
//   margin: 0px 0px 33px 0px;
// }

// .what__text p {
//   margin: 0px 0px 25px 0px;
//   font-size: 16px;
//   line-height: 24px;
//   color: #333333;
// }

// .columns {
//   background-color: #f5f5f5;
//   padding: 50px 0px 20px 0px;
// }

// .columns__title {
//   text-align: center;
//   margin: 0px 0px 30px 0px;
// }

// .columns__row {
//   display: flex;
//   flex-wrap: wrap;
//   margin: 0px -8px 0px -8px;
// }

// .columns__column {
//   padding: 0px 8px 0px 8px;
//   flex: 0 1 50%;
//   margin: 0px 0px 30px 0px;
// }

// .item__row {
//   display: flex;
// }

// .item__image {
//   flex: 0 0 200px;
// }

// .item__body {
//   flex: 1 1 auto;
//   padding: 0px 0px 0px 15px;
// }

// .item__title {
//   font-size: 24px;
//   line-height: 30px;
//   color: #445161;
//   margin: 0px 0px 13px 0px;
// }

// .item__text {
//   font-size: 16px;
//   line-height: 24px;
//   color: #333333;
// }

// .vertical {
//   padding: 50px 0px 50px 0px;
// }

// .vertical__title {
//   text-align: center;
//   margin: 0px 0px 30px 0px;
// }

// .vertical__body {
//   max-width: 990px;
//   margin: 0 auto;
// }

// .vertical__row {
//   display: flex;
//   margin: 0px -22.5px 0px -22.5px;
// }

// .vertical__colomn {
//   flex: 0 1 33.333%;
//   padding: 0px 22.5px 0px 22.5px;
//   display: flex;
// }

// .vertical__item {
//   background-color: #445162;
//   color: white;
//   border-radius: 5px;
//   border: 1px solid #445162;
//   padding: 0px 0px 20px 0px;
//   display: flex;
//   flex-direction: column;
// }

// .vertical__subtitle {
//   text-align: center;
//   font-size: 24px;
//   text-transform: uppercase;
//   padding: 12px 0px 12px 0px;
// }

// .vertical__label {
//   background-color: #fff;
//   text-align: center;
//   color: #445162;
//   padding: 15px 0px 15px 0px;
//   font-size: 40px;
// }

// .vertical__text {
//   padding: 20px 20px 20px 20px;
//   font-size: 14px;
//   line-height: 24px;
//   flex: 1 1 auto;
// }

// .vertical__text p {
//   margin: 0px 0px 15px 0px;
// }

// .vertical__text p:last-child {
//   margin: 0;
// }

// .vertical__btn {
//   display: block;
//   margin: 0px 20px 0px 20px;
//   height: 40px;
//   background-color: #fff;
//   line-height: 40px;
//   text-align: center;
//   font-size: 18px;
//   border-radius: 5px;
// }

// .footer {
//   background-color: #f5f5f5;
// }

// .footer__row {
//   display: flex;
//   height: 65px;
//   justify-content: center;
//   align-items: center;
// }

// .footer__text {
//   font-size: 12px;
//   letter-spacing: 0.025em;
//   color: #445162;
// }

