@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* меняет подсчет ширины блока width и height */
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* убираем линии обводки у некоторых браузеров: */
:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

/* делает эти теги блочными */
nav,
footer,
header,
aside {
  display: block;
}

/* уравнивает поведение шрифтов и эл-в для разных браузеров
запрещает увеличение шрифта самовольно-на айфонах напр */
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* просим теги форм наследовать семейство шрифта */
input,
button,
textarea {
  font-family: inherit;
}

/* убираем некоторые особенности тегов в разных браузерах */
/* убирается крестик в инпутах в ие , 
убираются лишние отступы для кнопок в firefox,
чистятся стили маркиованных списков и т д*/
input::-ms-clear {
  display: none;
}

/* убирает крестик в окне input в IE!!! */
button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* уб лишние отступы и пробелы в кнопках в Firefox */
a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

/* обнуляем все заголовки h */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}


/* -------------- КНОПКА С ВОЛНАМИ------------- */

/*Стили для демонстрации*/
.button-with-waves {
  background-color: #000;
  width: 100%;
  height: 200px;
  overflow: hidden;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Основные стили */
.wave-btn {
  width: 280px;
  height: 60px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  overflow: hidden;
  position: relative;
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  justify-content: center;
  align-items: center;
  border-radius: 0 0 10px 10px;
  text-decoration: none;
}

.wave-btn:hover {
  border-radius: 10px;
  transition: all 0.8s ease 0.2s;
  -webkit-transition: all 0.8s ease 0.2s;
  -moz-transition: all 0.8s ease 0.2s;
  -ms-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
}

.wave-btn:hover .wave-btn__waves {
  top: -50px;
}

.wave-btn__text {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  position: relative;
  z-index: 1;
}

.wave-btn__waves {
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #4973ff;
  top: 0;
  left: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: all 0.8s ease 0s;
  -webkit-transition: all 0.8s ease 0s;
  -moz-transition: all 0.8s ease 0s;
  -ms-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
}

.wave-btn__waves:after,
.wave-btn__waves:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 250%;
  height: 250%;
  transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
}

.wave-btn__waves:before {
  background-color: #000;
  border-radius: 48%;
  animation: waves 5s infinite linear;
  -webkit-animation: waves 5s infinite linear;
  -moz-animation: waves 5s infinite linear;
  -o-animation: waves 5s infinite linear;
}

.wave-btn__waves:after {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 44%;
  animation: waves 10s infinite linear;
  -webkit-animation: waves 10s infinite linear;
  -moz-animation: waves 10s infinite linear;
  -o-animation: waves 10s infinite linear;
}

@keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
@-webkit-keyframes waves {
  0% {
    transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(0deg) scale(1);
  }
  100% {
    transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -moz-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -ms-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -webkit-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
    -o-transform: translate3d(-50%, -96%, 0) rotate(360deg) scale(1);
  }
}
